* {
    margin: 0;
}

body {
    background-image: url();
    background-repeat: repeat;
    background-size: 10%;
    background-color: #0C3C75;
    min-width: 960px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #767771;
    height: 80px;
    min-width: 960px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    z-index: 1;
}

.Connerinfo{
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.Connerinfo img {
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    box-sizing: border-box;
}

footer {
    height: 80px;
    width: 100%;
    min-width: 960px;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.TopOuter-container {
    width: 960px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Profile-container {
    background-color: #C0C0C0;
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;
}

.Profile-container img {
    width: 20%;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;

}

.Text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.BottomOuter-container {
    width: 960px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OtherGames-container {
    background-color: #C0C0C0;
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;
}

.OtherGames-container img {
    object-fit: fill;
    width: 100%;
}

.OuterVideo-container {
    width: 960px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;
}

.OuterVideo-container.active {
    border-color: gray;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container video {
    width: 100%;
}

.video-container .hover-text {
    position: absolute;
    background: #767771;
    color: white;
    font-size: 60px;
}

#glass {
    margin-bottom: -150px;
    margin-top: -150px;
}